{
  "presets": ["babel-preset-gatsby"],
  "plugins": [
    [
      "prismjs",
      {
        "languages": ["csharp", "cs", "dotnet"],
        "plugins": ["line-numbers"],
        "theme": "tomorrow",
        "css": true
      }
    ]
  ]
}
